@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

@font-face {
    font-family: Quantico;
    src: url(../fonts/Quantico-Bold.ttf);
}

body {
  background-image: url("../gri.png");
  font-family: Quantico;
  src: url(../fonts/Quantico-Bold.ttf);
  text-align: center;
}

* {
  box-sizing: border-box;
}
.menu {
  float: left;
  width: 20%;
}
.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
}
.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer
  {
    text-align:center
  }
}

/* Style buttons */
.btn {
	background-color: DodgerBlue;
	border: none;
	color: white;
	padding: 0px 0px;
	cursor: pointer;
	font-size: 17px;
}

.footer {
  padding: 50px 0 20px 0;
  background-color: #35404f;
  color: #878c94;
  bottom: 0;
}

.footer .title{color:#fff;font-size:25px;}

.footer .category a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 5px 20px;
  margin: 1px;
  border-radius:4px;
  margin-top: 6px;
  background-color: black;
  border: solid 1px #fff;
}

.footer .payment{margin:0px;padding:0px;list-style-type:none}
.footer .payment li{list-style-type:none}
.footer .payment li a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 25px;
  padding: 10px 10px;
}
