@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

@font-face {
    font-family: Quantico;
    src: url(../fonts/Quantico-Bold.ttf);
}
body
{
  font-family: Quantico;
  src: url(../fonts/Quantico-Bold.ttf);
}
.full
{
	background-color:#fff;
}
.tile
{
	text-align:center;
	padding-bottom:15px;
	padding-top:15px;
}
.slider
{
	padding-bottom:20px;
}
.slider img
{
	float:left;
}

@keyframes animatedBackground_a {
    0% { background-position: 0 0 }
    100% { background-position: -500px 0 }
}

.new
{

	background:url(../bgg.jpg);
	background-size:cover;
	padding-bottom:30px;
}
.btn
{
	background-color:#8DD95B;
	color:#fff;
  border-radius: 8px;
}
.new2
{
	background-image:url(../gri.png);
	background-attachment:fixed;
	background-size:cover;
}

.inner h2
{
	color:rgb(0, 0, 0);
  font-family: Quantico;
  src: url(../fonts/Quantico-Bold.ttf);
	text-align:center;
}

.footermenu
{
	padding-top:10px;
	padding-bottom:15px;
}
.footermenu a
{
	color:#000;
}
.footermenu h4
{
	font-size:16px;
	font-weight:600;
}
.footermenu ul
{
	margin:0px;
	padding:0px;
	
	}
.footermenu ul li
{
	list-style:none;
}
.txt a
{
	color:rgb(255, 255, 255);
}
.txt p
{
	color:rgb(0, 0, 0);
	text-align:left;
	font-size:15px;
}

.txt h2
{
	color:rgb(0, 0, 0);
	text-align:left;
	
}

.txt wh2 {
	color:rgb(255, 255, 255);
	text-align:left;
}

.txt wp {
	color:rgb(255, 255, 255);
	text-align:left;
	font-size:15px;
}

.footer
{
	text-align:center;
	padding-bottom:15px;
	padding-top:15px;
	
}

/* Style all font awesome icons */
.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
	opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
	background: #3B5998;
	color: white;
  }
  
  /* Twitter */
.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-discord {
  color: rgb(255, 255, 255);
  padding: 20px;
	font-size: 50px;
	width: 53px;
  cursor: pointer;
}


.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

/* Style buttons */
.btn {
	background-color: DodgerBlue;
	border: none;
	color: white;
	padding: 0px 0px;
	cursor: pointer;
	font-size: 17px;
}
  
  /* Darker background on mouse-over */
  .btn:hover {
	background-color: RoyalBlue;
  }

.text-white {
  color: rgb(255, 255, 255);
}

.text-green {
  color: rgb(9, 255, 0);
}

.text-green:hover {
  color: rgb(93, 0, 168);
}

h5 {
  color: rgb(200, 220, 20);
}

.footer {
  padding: 50px 0 20px 0;
  background-image: url("../bgg.jpg");
  color: #878c94;
}
.footer .title{text-align: left;color:#fff;font-size:25px;}


.footer .social-icon{padding:0px;margin:0px;}
.footer .social-icon a{display:inline-block;color:#fff;font-size:25px;padding:5px;}
.footer .acount-icon a{display:block;color:#fff;font-size:18px;padding:5px;text-decoration:none;}
.footer .acount-icon .fa{margin-right:25px;}


.footer .category a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 5px 20px;
  margin: 1px;
  border-radius:4px;
  margin-top: 6px;
  background-color: black;
  border: solid 1px #fff;
}

.footer .payment{margin:0px;padding:0px;list-style-type:none}
.footer .payment li{list-style-type:none}
.footer .payment li a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  float: left;
  font-size: 25px;
  padding: 10px 10px;
}